version: '3.3'

services:
  db:
    image: mysql:8.0
    container_name: fastapi_db
    restart: always
    env_file: ./app/.env
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 60s
      timeout: 10s
      retries: 3

  backend:
    image: my-backend-image
    container_name: fastapi_app
    restart: always
    env_file: ./app/.env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    environment:
      - DB_USER
      - DB_PASSWORD
      - DB_HOST
      - DB_PORT
      - DB_NAME
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]
      interval: 10s
      timeout: 5s
      retries: 5
  frontend:
    build: ./frontend
    container_name: angular_app
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend


volumes:
  db_data:
